
<div class="row-offcanvas row-offcanvas-left">
  <div id="sidebar" class="sidebar-offcanvas">
      <div class="col-md-12">
      <!--  <h3>Menu</h3>-->
        <ul class="nav nav-pills nav-stacked" style="padding-top:10px">
          <li class="active"><a href="/">Overview</a></li>
          <li><a href="#">Employee List</a></li>
          <li><a href="#">Find Employee</a></li>
          <li><a href="/employees/new">Create new Employee</a></li>
         <!-- <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>-->
        </ul>
      </div>
  </div>
